<div id="nextpage-loader"
    class="hidden border pointer-events-auto border-white border-opacity-10 p-1 pl-2 max-w-fit flex items-center bg-bg rounded-full text-white mx-auto md:mx-0 md:ml-auto ">

    <!-- load gif -->
    <div id="nextpage-loader-gif" class="w-9 h-9 md:w-6 md:h-6  rounded-full border-2 border-t-transparent border-white animate-spin ">
    </div> 

    <!-- label -->
    <p id="nextpage-loader-label" class="ml-4 mr-6 md:text-sm"></p>

    <!-- Cancel Button -->
    <button
        id="nextpage-loader-btn"
        class="ml-auto rounded-full w-12 h-12 md:w-9 md:h-9 bg-red-500 flex justify-center items-center hover:scale-[85%]  duration-500">
        <svg class="fill-white w-4 " viewBox="0 0 15 15">
            <path
                d="M15 1.51071L13.4893 0L7.5 5.98929L1.51071 0L0 1.51071L5.98929 7.5L0 13.4893L1.51071 15L7.5 9.01071L13.4893 15L15 13.4893L9.01071 7.5L15 1.51071Z" />
        </svg>
    </button>
</div>